<section id="sidebar-aside">
  <h3>About Dan</h3>
  <p>I received a B.A., Cum Laude, from Macalester College, in Saint Paul, Minnesota and a M.F.A. in Fiction Writing from The University of California, Irvine.  I'm a poet who hand-crafts web sites.</p> 
	  
	  <p>Here's what I'm most proud of: when my future mother-in-law asked Norm to tell her something about me he said, "I've known Dan for over twenty years and he's never once lied to me." </p>


	<h4>Links and Such</h4>
	<a href="http://sidesix.org">Side Six</a> <br>
	<a href="http://daniel-avery.com">My Personal Site</a> <br>
	<a href="http://zerply.com/danavery/public">Zerply</a> <br>
	<a href="http://forrst.com/people/Dan_Avery">Forrst</a> <br>
	<hr> <br>
	<a href ="http://www.behance.net/sidesix" target ="_blank" style = "width:184px !important; height:60px !important; background-image:url(http://assets.behance.net/img/portfolio/white/med2.jpg?cb=833573113) !important; -webkit-border-radius:4px !important; -moz-border-radius:4px !important; -o-border-radius:4px !important; border-radius:4px !important; text-decoration:none !important; display:block !important;"><span style='overflow: hidden !important; height: 0px !important; font-size: 0px !important; line-height: 0px !important; clear:both !important;'></span></a>
	
</section>